@font-face {
    font-family: nexa;
    src: url('font/nexa-light.ttf');
  }
  
body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: nexa;
}

@media only screen and (min-width: 768px) {

    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 48px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 20px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

    /* Contact Options */

    .smallmap, .mobilemap {
        display: none;
    }

    .contact {
        padding: 160px;
        background-color: #FFFEFB;
        text-align: center;
    }

    .contact h2 {
        font-size: 45px;
        font-weight: 300;
        color: #000;
        margin: 0px;
        padding: 0px 0px 80px 0px;
    }

    .contactoptions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 120px;
    }

    .location, .phone, .email {
        background-color: #EFEDE0;
        padding: 50px;
        text-align: left;
    }

    .location h3, .phone h3, .email h3 {
        color: #000;
        font-size: 25px;
        font-weight: 400;
        padding: 0px;
        margin-right: 0px 0px 30px 0px;
    }   

    .location p, .phone p, .email p {
        color: #000;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }    

    /* Splitted menu desktop */
    .dmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        color: #fff;
        padding: 60px 160px;
    }

    .dmenu ul li a:hover {
        color: #907a4b;
    }
  
    .dmenu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
  
    .dmenu ul li {
        margin: 0 80px 0 0;
    }
  
    .dmenu ul li a {
        color: #fff;
        text-decoration: none;
    }
  
    .dmenu .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -80px;
    }
  
    .dmenu .logo img {
        height: 50px;
    }

    .mobile-menu, .overlay {
        display: none;
    }

    #myNav {
        display: none;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 160px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }

    footer a {
        color: #907a4b;
    }

    #footersign {
        text-align: center;
    }
}

/* Tablet of other small screens */
@media (min-width:769px) and (max-width:1024px){

    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 48px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 20px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

    /* contact options */

    .mobilemap, .desktopmap {
        display: none;
    }

    .contact {
        padding: 80px;
        background-color: #FFFEFB;
        text-align: center;
    }

    .contact h2 {
        font-size: 45px;
        font-weight: 300;
        color: #000;
        margin: 0px;
        padding: 0px 0px 80px 0px;
    }

    .contactoptions {
        display: grid;
        grid-template-columns: 1fr;
    }

    .location, .phone, .email {
        background-color: #EFEDE0;
        padding: 50px;
        text-align: center;
    }

    .location h3, .phone h3, .email h3 {
        color: #000;
        font-size: 25px;
        font-weight: 400;
        padding: 0px;
        margin-right: 0px 0px 30px 0px;
    }   

    .location p, .phone p, .email p {
        color: #000;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }   

    /* Mobile Menu */
    .dmenu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        padding: 20px 10px;
    }
      
    .mobile-menu span, .mlogo {
        width: calc(50% - 20px); 
    }

    .mlogo{
        text-align: right;
    }

    .mobile-menu span {
        color: #fff;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
      
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    /* Footer */
    footer {
         display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 20px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }
    
    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
      
    .footerinfo, .footerlocation, .footersupport, .footeropening {
        flex-basis: 20%;
        text-align: left;
        box-sizing: border-box;
    }
    
    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
    }
    
    footer a {
        color: #907a4b;
    }
    
    #footersign {
        text-align: center;
    }
}
  
/* Mobile Screens */
@media screen and (max-width: 768px) {



    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 40px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 18px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

    /* contact options */

    .desktopmap, .smallmap {
        display: none;
    }

    .contact {
        padding: 80px;
        background-color: #FFFEFB;
        text-align: center;
    }

    .contact h2 {
        font-size: 35px;
        font-weight: 300;
        color: #000;
        margin: 0px;
        padding: 0px 0px 30px 0px;
    }

    .contactoptions {
        display: grid;
        grid-template-columns: 1fr;
    }

    .location, .phone, .email {
        background-color: #EFEDE0;
        padding: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    .location h3, .phone h3, .email h3 {
        color: #000;
        font-size: 25px;
        font-weight: 400;
        padding: 0px;
        margin-right: 0px 0px 30px 0px;
    }   

    .location p, .phone p, .email p {
        color: #000;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }   

    /* Mobile Menu */
    .dmenu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        padding: 20px 10px;
    }
      
    .mobile-menu span, .mlogo {
        width: calc(50% - 20px); 
    }

    .mlogo{
        text-align: right;
    }

    .mobile-menu span {
        color: #fff;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
      
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    /* Footer */
    footer {
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }

    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
  
    .footerinfo, .footerlocation, .footersupport, .footeropening {

        flex-basis: 20%;
        text-align: left;
        box-sizing: border-box;
        text-align: center;
    }

    .footersupport ul {
        margin-left: -40px;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
        text-align: center;
    }

    footer a {
        color: #907a4b;
    }

    #footersign {

        text-align: center;
        padding-top: 30px;
    }
}