@media only screen and (min-width: 768px) {

    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 48px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 20px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

    /* Events */

    .week {
        padding: 50px 160px;
        background-color: #FFFEFB;
    }

    .week img {
        width: 247px;
        height: auto;
    }

    .week h3 {
        font-size: 40px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 300;   
    }

    .week h4 {
        font-size: 20px;
        color: #907a4b;
        margin: 0px 0px 50px 0px;
        padding: 0px; 
        font-weight: 300; 

    }

    .eventbox {
        display: grid;
        grid-template-columns: 1fr 4fr;
        border: 2px solid #907a4b;
        border-radius: 5px;
        padding: 40px 100px;
        align-content: center;
        margin-bottom: 100px;
    }

    .eventbox:hover {
        background-color: #907a4b;

        .eventinfo h3 {
            color: #fff;
        }
    }
 
    .eventinfo {
        padding-left: 60px;
    }

    .eventinfo h3 {
        font-size: 20px;
        color: #907a4b;
        margin: 0px;
        padding: 0px;
        font-weight: bold
    }

    .eventinfo h2 {
        font-size: 30px;
        color: #000;
        margin: 0px 0px 20px 0px;
        padding: 0px;
        font-weight: 100;
    }

    .eventinfo p {
        font-size: 22px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 100px;
    } 
}

/* Tablet of other small screens */
@media (min-width:769px) and (max-width:1024px){

    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 48px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 20px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

  
    /* Events */
    .week {
        padding: 50px 80px;
        background-color: #FFFEFB;
    }

    .week img {
        width: 247px;
        height: auto;
        margin-bottom: 30px;
    }

    .week h3 {
        font-size: 30px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 300;   
    }

    .week h4 {
        font-size: 18px;
        color: #907a4b;
        margin: 0px 0px 50px 0px;
        padding: 0px; 
        font-weight: 300; 

    }

    .eventbox {
        display: grid;
        grid-template-columns: 1fr;
        border: 2px solid #907a4b;
        border-radius: 5px;
        padding: 40px;
        align-content: center;
        text-align: center;
        margin-bottom: 100px;
    }

    .eventbox:hover {
        background-color: #907a4b;

        .eventinfo h3 {
            color: #fff;
        }
    }

    .eventinfo h3 {
        font-size: 20px;
        color: #907a4b;
        margin: 0px;
        padding: 0px;
        font-weight: bold
    }

    .eventinfo h2 {
        font-size: 25px;
        color: #000;
        margin: 0px 0px 20px 0px;
        padding: 0px;
        font-weight: 100;
    }

    .eventinfo p {
        font-size: 20px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 100px;
    } 
}
  
/* Mobile Screens */
@media screen and (max-width: 768px) {



    /* Desktop HERO */
    .hero {
        background-image: url('../images/events-header.png');
        background-size: cover;
        text-align: center;
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
        text-align: center;
    }
  
    .hero-content h2 {
        display: block;
        font-size: 40px; 
        font-family: nexa;
        font-weight: 100;
        margin: 0px;
    }

    .hero-content h4 {
        display: block;
        font-size: 18px;
        font-family: nexa;
        font-weight: 300;
        margin: 0px;
    }

    .events-link {
        color: #907a4b;
    }
      
    .home-link {
        color: white;
    }

    a {
        text-decoration: none;
    }

        /* Events */
    .week {
        padding: 50px;
        background-color: #FFFEFB;
    }

    .week img {
        width: 247px;
        height: auto;
        margin-bottom: 30px;
    }

    .week h3 {
        font-size: 30px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 300;   
    }

    .week h4 {
        font-size: 18px;
        color: #907a4b;
        margin: 0px 0px 50px 0px;
        padding: 0px; 
        font-weight: 300; 

    }

    .eventbox {
        display: grid;
        grid-template-columns: 1fr;
        border: 2px solid #907a4b;
        border-radius: 5px;
        padding: 40px;
        align-content: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .eventbox:hover {
        background-color: #907a4b;

        .eventinfo h3 {
            color: #fff;
        }
    }
    .eventinfo h3 {
        font-size: 20px;
        color: #907a4b;
        margin: 0px;
        padding: 0px;
        font-weight: bold
    }

    .eventinfo h2 {
        font-size: 25px;
        color: #000;
        margin: 0px 0px 20px 0px;
        padding: 0px;
        font-weight: 100;
    }

    .eventinfo p {
        font-size: 20px;
        color: #000;
        margin: 0px;
        padding: 0px;
        font-weight: 100px;
    } 
} 
