/* @font-face {
    font-family: nexa;
    src: url('font/nexa-light.ttf');
} */

/* @font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Light.woff2') format('woff2'),
         url('font/Nexa-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: nexa;
}

@media only screen and (min-width: 1024px) {

    /* Splitted menu desktop */
    .dmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        color: #fff;
        padding: 60px 160px;
    }

    .dmenu ul li a:hover {
        color: #907a4b;
    }
  
    .dmenu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
  
    .dmenu ul li {
        margin: 0 80px 0 0;
    }
  
    .dmenu ul li a {
        color: #fff;
        text-decoration: none;
    }
  
    .dmenu .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -80px;
    }
  
    .dmenu .logo img {
        height: 50px;
    }

    .active {
        text-decoration-style: dotted;
        text-decoration: underline;
        text-decoration-color: #907a4b;
        text-decoration-thickness: 3px;
    }

    .mobile-menu, .overlay {
        display: none;
    }

    
    /* Newsletter */

    .newsletter {
        display: flex;
        flex-direction: column;
        padding: 160px;
        background-color: #212129;
    }
    
    .newsletter h2 {
        font-family: nexa;
        font-weight: 300;
        font-size: 40px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px;
    }

    .newsletter h4 {
        font-family: nexa;
        font-weight: 300;
        font-size: 25px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px 0px 40px 0px;
    }

    .newsletter button {
        /* height: 65px; */
        width: 100%;
        max-width: 445px;
        font-size: 20px;
        font-family: nexa;
        padding: 20px;
        line-height: 0;
        vertical-align: top;
        cursor: pointer;
        color: #fff;
        border: 0;
        border-radius: 0px 5px 5px 0px;
        background: #907a4b;
        box-shadow: 0 4px 10px #907a4ba1;
        transition: 0.1s ease-in;
    }
    .newsletter button:hover {
        background: #EFEDE0;
        color: #907a4b;
        box-shadow: 0 4px 10px hsl(34 100% 56% / 0.2);
    }
    .newsletter form {
        display: flex;
    }
    .newsletter input {
        min-width: 400px;
        height: 65px;
        width: 100%;
        border-radius: 5px 0 0 5px;
        background: transparent;
        border: 1px solid #c4c6e2;
        padding: 16px;
        font-weight: normal;
        font-size: 20px;
        font-family: nexa;
        text-align: left;
        color: #fff;
        opacity: 0.5;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 130px 160px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }

    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
  
    .footerinfo, .footerlocation, .footersupport, .footeropening {
        flex-basis: 20%;
        text-align: left;
        box-sizing: border-box;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
    }

    footer a {
        color: #907a4b;
    }

    #footersign {
        text-align: center;
    }
}

/* Tablet of other small screens */
@media (min-width:769px) and (max-width:1024px){
    /* Mobile Menu */
    .dmenu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        padding: 20px 10px;
    }
      
    .mobile-menu span, .mlogo {
        width: calc(50% - 20px); 
    }

    .mlogo{
        text-align: right;
    }

    .mobile-menu span {
        color: #fff;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
      
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 60px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    /* Newsletter */

    .newsletter {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #212129;
    }
    
    .newsletter h2 {
        font-family: nexa;
        font-weight: 200;
        font-size: 40px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px;
    }

    .newsletter h4 {
        font-family: nexa;
        font-weight: 200;
        font-size: 25px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px 0px 40px 0px;
    }

    .newsletter button {
        /* height: 65px; */
        width: 60%;
        max-width: 445px;
        font-size: 25px;
        font-family: nexa;
        padding: 20px;
        line-height: 0;
        vertical-align: top;
        cursor: pointer;
        color: #fff;
        border: 0;
        border-radius: 0px 5px 5px 0px;
        background: #907a4b;
        box-shadow: 0 4px 10px #907a4ba1;
        transition: 0.1s ease-in;
    }
    .newsletter button:hover {
        background: #EFEDE0;
        color: #907a4b;
        box-shadow: 0 4px 10px hsl(34 100% 56% / 0.2);
    }
    .newsletter form {
        display: flex;
    }
    .newsletter input {
        min-width: 400px;
        height: 65px;
        width: 100%;
        border-radius: 5px 0 0 5px;
        background: transparent;
        border: 1px solid #c4c6e2;
        padding: 16px;
        font-weight: normal;
        font-size: 25px;
        font-family: nexa;
        text-align: left;
        color: #fff;
        opacity: 0.5;
    }

    /* Footer */
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 80px 50px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }
    
    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
      
    .footerinfo, .footerlocation, .footersupport, .footeropening {
        text-align: center;
        box-sizing: border-box;
    }
    
    .logo-footer img {
        width: 50%;
        margin-bottom: 50px;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
    }
    
    footer a {
        color: #907a4b;
    }
    
    #footersign {
        text-align: center;
    }
}

/* Mobile Screens */
@media screen and (max-width: 769px) {
    
    /* Mobile Menu */
    .dmenu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        padding: 20px 10px;
    }
      
    .mobile-menu span, .mlogo {
        width: calc(50% - 20px); 
    }

    .mlogo{
        text-align: right;
    }

    .mobile-menu span {
        color: #fff;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
      
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 70px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

        /* Newsletter */

    .newsletter {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #212129;
    }
    
    .newsletter h2 {
        font-family: nexa;
        font-weight: 200;
        font-size: 40px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px;
    }

    .newsletter h4 {
        font-family: nexa;
        font-weight: 200;
        font-size: 25px;
        color: #EFEDE0;
        padding: 0px;
        margin: 0px 0px 40px 0px;
    }

    .newsletter button {
        /* height: 65px; */
        width: 60%;
        max-width: 445px;
        font-size: 25px;
        font-family: nexa;
        padding: 20px;
        line-height: 0;
        vertical-align: top;
        cursor: pointer;
        color: #fff;
        border: 0;
        border-radius: 0px 5px 5px 0px;
        background: #907a4b;
        box-shadow: 0 4px 10px #907a4ba1;
        transition: 0.1s ease-in;
    }
    .newsletter button:hover {
        background: #EFEDE0;
        color: #907a4b;
        box-shadow: 0 4px 10px hsl(34 100% 56% / 0.2);
    }
    .newsletter form {
        display: flex;
    }
    .newsletter input {
        min-width: 400px;
        height: 65px;
        width: 100%;
        border-radius: 5px 0 0 5px;
        background: transparent;
        border: 1px solid #c4c6e2;
        padding: 16px;
        font-weight: normal;
        font-size: 25px;
        font-family: nexa;
        text-align: left;
        color: #fff;
        opacity: 0.5;
    }

    /* Footer */
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 80px 50px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }
    
    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
      
    .footerinfo, .footerlocation, .footersupport, .footeropening {
        text-align: center;
        box-sizing: border-box;
    }
    
    .logo-footer img {
        width: 50%;
        margin-bottom: 50px;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
    }
    
    footer a {
        color: #907a4b;
    }
    
    #footersign {
        text-align: center;
    }
}