@font-face {
    font-family: nexa;
    src: url('font/nexa-light.ttf');
  }
  
body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: nexa;
}

@media only screen and (min-width: 768px) {

    /* Splitted menu desktop */
    .dmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        color: #fff;
        padding: 60px 160px;
    }

    .dmenu ul li a:hover {
        color: #907a4b;
    }
  
    .dmenu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
  
    .dmenu ul li {
        margin: 0 80px 0 0;
    }
  
    .dmenu ul li a {
        color: #fff;
        text-decoration: none;
    }
  
    .dmenu .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -80px;
    }
  
    .dmenu .logo img {
        height: 50px;
    }

    .mobile-menu {
        display: none;
    }

    /* Desktop HERO */

    .hero {
        background-image: url('../images/call-to-action-front.png');
        background-size: cover;
        height: 100vh; /* height of the viewport */
    }
  
    .hero-content {
        color: #fff; 
        padding: 160px; 
        text-align: right; 
        font-family: nexa;
    }
  
    .hero-content h2 {
        font-size: 48px; 
        font-family: nexa;
        font-weight: 100;
    }
  
    .hero-content p {
        font-size: 24px; 
        margin-bottom: 50px; 
        padding-left: 1000px;
    }

  
    .buttons {
        display: inline;
        justify-content: space-between;
        font-family: nexa;
    }

    #about {
        width: 250px;
        height: 60px;
        margin: 0 40px 0 0;
        padding: 19px 88px 11px;
        border-radius: 5px;
        background-color: #907a4b;
        border: solid 4px #907a4b;
        font-size: 20px;
        color: #000;
    }

    #bookaticket {
        width: 250px;
        height: 60px;
        margin: 0 0 0 40px;
        padding: 15px 45px 15px 44px;
        border-radius: 5px;
        border: solid 4px #907a4b;
        background-color: rgba(217, 217, 217, 0);
        font-size: 20px;
        color: #907a4b;
    }

    /* Upcoming Events and Special Exhibitions */
    .events-exhibitions {
        display: flex;
        justify-content: space-between;
        background-color: #EFEDE0;
    }
  
    .events, .exhibitions {
        width: calc(50% - 20px); 
        margin: 0 10px; 
    }

    .events {
        width: 50%;
        padding: 160px 75px 160px 160px;
        text-align: left;
    }
  
    .exhibitions {
        width: 50%;
        padding: 160px 160px 160px 75px;
        text-align: right;
    }

    h3 {
        font-size: 28px; 
        font-family: nexa;
        font-weight: 100;
    }

    .eventstext{
        padding-right: 50px;
    }

    .exhibitionstext {
        padding-left: 250px;
        text-align: right;
        font-size: 22px;
    }

    .eventstext {
        padding-right: 250px;
        text-align: left;
        font-size: 22px;
    }

    #more {
        color: #907a4b;
        font-family: 20px;
        font-weight: bold;
        padding: 10px 10px 50px 0px;
        background-color: #907a4b00;
        border-width: 0px;
    }


    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 130px 160px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }

    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
  
    .footerinfo, .footerlocation, .footersupport, .footeropening {
        flex-basis: 20%;
        text-align: left;
        box-sizing: border-box;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
    }

    footer a {
        color: #907a4b;
    }

    #footersign {
        text-align: center;
    }
}
  
/* Small Screens */
@media screen and (max-width: 768px) {

    
    .hero {
        background-image: url('../images/call-to-action-front.png');
        background-size: cover;
        height: 60vh; /* height of the viewport */
        padding: 40px 0px;
    }
  
    .hero-content {
        color: #fff; 
        padding: 0px; 
        text-align: center; 
        align-items: center;
        font-family: nexa;
    }
  
    .hero-content h2 {
        font-size: 40px; 
        font-family: nexa;
        font-weight: 100;
    }
  
    .hero-content p {
        font-size: 18x; 
        margin: 50px 20px; 
        padding: 0px;
    }

    .buttons {
        display: block;
        align-items: center;
    }

    #about {
        width: 250px;
        height: 60px;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #907a4b;
        border: solid 4px #907a4b;
        font-size: 20px;
        color: #000;
    }

    #bookaticket {
        width: 250px;
        height: 60px;
        border-radius: 5px;
        border: solid 4px #907a4b;
        background-color: rgba(217, 217, 217, 0);
        font-size: 20px;
        color: #907a4b;
    }

    .events-exhibitions {
      flex-direction: column;
      background-color: #EFEDE0;
      padding: 50px 0px;
    }
    
    .events, .exhibitions{
      width: 100%;
      text-align: center;
    }
    
    .events-exhibitions img {
        width: 80%;

    }

    h3 {
        font-size: 25px; 
        font-family: nexa;
        font-weight: 100;
    }
    
    #more {
        color: #907a4b;
        font-family: 18px;
        font-weight: bold;
        padding: 10px 10px;
        background-color: #907a4b00;
        border-width: 0px;
        margin-bottom: 20px;
    }

    img {
        max-width: 70%;
    }

    /* Mobile Menu */
    .dmenu {
        display: none;
    }

    .mobile-menu {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
      
    .mobile-menu .toogle-menu {
        display: none;
    }
      
    .mobile-menu a {
        color: #000;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
    .mobile-menu a.icon {
        background: black;
        color: #fff;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
      
    .mobile-menu a:hover {
        color: black;
    }

    .active {
        background-color: #907a4b;
        color: white;
      }

    /* Footer */
    footer {
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 50px;
        background-color: #000;
        color: #fff;
        font-size: 16px; 
    }

    footer h4 {
        color: #907a4b;
        font-size: 25px;
        font-family: nexa;
        font-weight: 300;
    }
  
    .footerinfo, .footerlocation, .footersupport, .footeropening {

        flex-basis: 20%;
        text-align: left;
        box-sizing: border-box;
        text-align: center;
    }

    .footersupport ul {
        margin-left: -40px;
    }

    .footerinfo, .footerlocation, .footersupport {
        margin-right: 10px;
        text-align: center;
    }

    footer a {
        color: #907a4b;
    }

    #footersign {

        text-align: center;
        padding-top: 30px;
    }
} 
