@font-face {
    font-family: nexa;
    src: url('font/nexa-light.ttf');
  }
  
body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: nexa;
}

/* Splitted menu desktop */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 60px 160px;
}

nav ul li a:hover {
    color: #907a4b;
  }
  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    margin: 0 80px 0 0;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
}
  
nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -80px;
}
  
nav .logo img {
    height: 50px;
}

/* Desktop HERO */

.hero {
    background-image: url('../images/call-to-action-front.png');
    background-size: cover;
    height: 100vh; /* height of the viewport */
}
  
.hero-content {
    color: #fff; 
    padding: 160px; 
    text-align: right; 
    font-family: nexa;

}
  
.hero-content h2 {
    font-size: 48px; 
    font-family: nexa;
    font-weight: 100;
}
  
.hero-content p {
    font-size: 24px; 
    margin-bottom: 50px; 
    padding-left: 1000px;
}

  
.buttons {
    display: inline;
    justify-content: space-between;
    font-family: nexa;
}

#about {
    width: 250px;
    height: 60px;
    margin: 0 40px 0 0;
    padding: 19px 88px 11px;
    border-radius: 5px;
    background-color: #907a4b;
    border: solid 4px #907a4b;
    font-size: 20px;
    color: #000;
}

#bookaticket {
    width: 250px;
    height: 60px;
    margin: 0 0 0 40px;
    padding: 15px 45px 15px 44px;
    border-radius: 5px;
    border: solid 4px #907a4b;
    background-color: rgba(217, 217, 217, 0);
    font-size: 20px;
    color: #907a4b;
}

/* Upcoming Events and Special Exhibitions */
.events-exhibitions {
    display: flex;
    justify-content: space-between;
}
  
.events, .exhibitions {
    width: calc(50% - 20px); 
    margin: 0 10px; 
    padding: 200px 160px 200px 75px;
}

.events {
    float: left;
}

.exhibitions {
    float: right;
}

h3 {
    font-size: 28px; 
    font-family: nexa;
    font-weight: 100;
}
  

@media screen and (max-width: 768px) {
    .two-columns {
      flex-direction: column;
    }
    
    .column {
      width: 100%;
      margin: 20px 0;
    }
}


  

  
